@use "../base/fonts.scss" as *;

%description-15 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

%description-17 {
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 500;
}
