@use "../utils/variables" as *;

%grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $gutter-10;
}

%grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: $gutter-10;
}

%grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $gutter-10;
}

