@use "../utils/variables" as *;

%title-60 {
  font-size: 6rem;
  line-height: 1.1;
  font-weight: 400;

  font-family: $font-pp-editorial-new;
}

%title-80 {
  font-size: 8rem;
  line-height: 0.94;
  font-weight: 400;

  font-family: $font-pp-editorial-new;
}

%title-110 {
  font-size: 11rem;
  line-height: 1.18;
  font-weight: 400;

  font-family: $font-pp-editorial-new;
}
