@use "../utils/variables" as *;

.btn {
  font-size: 1.4rem;
  border-radius: 7rem;
  background: $color-blackish-brown;
  color: $color-apricot-ice;
  display: inline-block;
  outline: none;
  line-height: 1.71;
  overflow: hidden;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover {
    background-color: $color-apricot-ice;
    color: $color-blackish-brown;

    span {
      transform: translateY(-100%);
    }
  }

  span {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1.2rem 2.5rem;
    display: inline-block;
    transition: transform 0.5s ease;

    &::before {
      content: attr(data-text);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: inherit;
      color: inherit;
    }
  }

  &--reverse {
    background: $color-apricot-ice;
    color: $color-blackish-brown;

    &:hover {
      background-color: $color-blackish-brown;
      color: $color-apricot-ice;
    }
  }
}
