@use "../shared/labels" as *;
@use "../shared/titles" as *;
@use "../shared/descriptions" as *;

@use "../utils/variables" as *;

.products__selection {
  padding-top: 9rem;

  .products__selection__title {
    @extend %title-80;

    letter-spacing: -0.2rem;
    text-align: center;
    max-width: 68rem;
    margin: 0 auto;
    margin-bottom: 0.6em;
  }
  .products__container {
    margin-bottom: 0.6em;
    padding-inline: $gutter-10;
    display: flex;
    justify-content: center;
    gap: $gutter-10;
    width: 100%;
    margin-top: 9.4rem;

    .product {
      width: calc(25% - 0.7rem);
      background-color: white;
      border-radius: 0.5rem;
      overflow: hidden;
      position: relative;

      &:hover .product__image__wrapper {
        transform: scale(1.08);
      }

      .product__wishlist__btn {
        position: absolute;
        top: 1.8rem;
        right: 1.8rem;
        display: flex;
        gap: 0.5rem;
        border: none;
        background: none;
        cursor: pointer;
        z-index: 2;
        transition: 0.2s transform ease-in-out;

        svg {
          width: 1.9rem;
          height: 1.7rem;
        }

        &:hover {
          transform: scale(1.2);
        }
      }

      .product__tags {
        position: absolute;
        top: 1rem;
        left: 1rem;
        display: flex;
        z-index: 2;
        column-gap: 0.5rem;

        .product__tag {
          font-size: 1.3rem;
          line-height: 1.35;
          font-weight: 400;
          background-color: $color-courgette-yellow;
          color: $color-blackish-brown;
          letter-spacing: -0.02rem;
          border-radius: 7rem;
          padding: max(0.5rem) max(0.9rem);
          display: block;
        }
      }

      .product__link {
        width: 100%;

        .product__image__wrapper {
          width: 100%;
          aspect-ratio: 1 / 1;
          overflow: hidden;
          z-index: 1;
          transition: transform 0.7s cubic-bezier(0.3, 0, 0, 1);
          padding-inline: 2rem;
          margin-bottom: 2rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .product__info {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          column-gap: 0.5rem;
          padding: 0 1.2rem 1.6rem;

          .product__type {
            @extend %label-15;

            color: $color-frontier-fort;
            margin-bottom: 0.4rem;
            letter-spacing: -0.02rem;
          }

          .product__name {
            @extend %description-17;

            color: $color-blackish-brown;
            margin-bottom: 0.4rem;
            letter-spacing: -0.02rem;
          }

          .product__price {
            @extend %label-15;

            color: $color-blackish-brown;
            margin-bottom: 0.4rem;
            letter-spacing: -0.02rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
