@use "../utils/variables" as *;

@use "../shared/titles" as *;

.quote__images__trail {
  margin-top: 11rem;
  padding-top: 20rem;
  padding-bottom: 15rem;
  background-color: $color-frontier-fort;
  width: 100%;
  position: relative;

  .quote__images__trail__wrapper {
    max-width: 122.4rem;
    margin: auto;
    text-align: center;

    .quote__title {
      @extend %title-110;

      color: $color-herare;

      // For animation wrapper
      .line {
        overflow: hidden;

        .line__inner {
          display: inline-block;
        }
      }
    }

    .quote__buttons {
      margin-top: 2.7rem;

      .btn:last-child {
        margin-left: 0.9rem;
      }
    }
  }

  .trail__images {
    // Container will be positioned via JavaScript
    // Images will be absolutely positioned inside
    width: auto;
    height: auto;

    img {
      // Individual image styling handled by JavaScript
      display: block;
      width: 24.7rem;
      height: 24.7rem;
    }
  }
}
