$color-herare: #e8e0d2;
$color-blackish-brown: #433c35;
$color-frontier-fort: #c3af9f;
$color-apricot-ice: #fff7e9;
$color-sedona-stone: #8c4630;

$font-dm-sans: "DM Sans";
$font-pp-editorial-new: "PP Editorial New";

$z-indexes: ("preloader", "navigation", "navigation_menu", "content");

$gutter-10: 1rem;
$gutter-20: 2rem;

$rounded-5: 0.5rem;
